In [1]:
#importing libraries and modules
import time
import datetime
import hashlib
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import pandas as pd
from time import gmtime, strftime
import os
import csv
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [2]:
#function for genrating the list that contains the directory folders names
def item_list():
    #request and open the required url
    url = urlopen("http://125.19.52.218/realtime/")

    #make BeautifulSoup object
    soup = BeautifulSoup(url, "html.parser")

    #find the needed info using bs4 object
    m3 = soup.find_all("div", {"class" : "tableData"})

    master_list1 = []

    #create list of water sample other details
    for element in m3:
        temp_dic={}
        m4=element.find_all("tr")
        for ele in m4:
            try:
                master_list1.append(ele.find("td").text.strip())
            except:
                continue
    list_set = set(master_list1)
    master_list = list(list_set)
    
    #making a csv file of parameter names for future use
    master_list2 = []
    for para in master_list:
        temp_dic2 = {}
        temp_dic2['Parameters'] = para
        master_list2.append(temp_dic2)
    d = pd.DataFrame(master_list2)
    d.to_csv("Downloads/Runtime/Parameter's.csv",index=True)
    
    names = []
    for i in master_list:
        i = i.replace("/","_")
        names.append(i)
    return names
#calling the item_list function to create the parameter csv file
#item_list()

In [3]:
#function for creating the required directories at specified location
def create_dir():
    master_list = item_list()
    
    #create the folder where u want to start creation of files
    directory = "Runtime"
    parent_dir = "Downloads/"
    path = os.path.join(parent_dir, directory)    
    #create a main directory
    os.mkdir(path)
    
    for i in master_list:
        try:
            directory = i
            #passing the loction where u want to create the files
            parent_dir ="Downloads/Runtime/"
            path = os.path.join(parent_dir, directory)
            #creating a main directory folder
            os.mkdir(path)
        except:
            continue

        for j in range(1,35):
            directory1 = "Location" + str(j)
            #passing the location where the we want to create the sub-files
            parent_dir = "Downloads/Runtime/" + i
            path = os.path.join(parent_dir, directory1)
            #creating sub-directories of a mail directory folder
            os.mkdir(path)
#calling the create_dir function
#create_dir()

In [4]:
def create_graph():
    #calling the item-list function and replacing the list names element with specified value
    master_list3 = item_list()
    names=[]
    for j in master_list3:
        j = j.replace("_","/")
        names.append(j)
    l = 0
    df5=pd.read_csv("Downloads/Runtime/Location's.csv")
    d3=df5["Locations"].tolist()
    for i in master_list3:
        for loc in range(1,(len(d3)+1)):
            try:
                plt.figure(figsize=(14,11))
                plt.title('Analysis of Parameter: {}'.format(i), fontdict={ 'fontsize': 23 })
                plt.ylabel(names[l], fontdict={ 'fontsize': 18 })
                plt.xlabel("Time", fontdict={ 'fontsize': 18 })
                df = pd.read_csv("Downloads/Runtime/{}/Location{}/Data.csv".format(i,str(loc)))
                g = sns.lineplot(x = "DateTime", y = names[l],color="red", data = df)
                g = sns.scatterplot(x = "DateTime", y = names[l],marker="v",color="red", data = df, s=100)
                labels = g.get_xticklabels()
                plt.setp(labels, rotation = 90, horizontalalignment = 'right')
                plt.savefig('Downloads/Runtime/{}/Location{}/Data.jpeg'.format(i,str(loc)))
            except Exception as e:
                print("error : ", e)
        l = l + 1
#create_graph()

In [5]:
def create_graph2(name,loc):
    name2 = name.replace("_","/")
    try:
        plt.figure(figsize=(14,11))
        plt.title('Analysis of Parameter: {}'.format(name2), fontdict={ 'fontsize': 23 })
        plt.ylabel(name2, fontdict={ 'fontsize': 18 })
        plt.xlabel("Time", fontdict={ 'fontsize': 18 })
        df = pd.read_csv("Downloads/Runtime/{}/Location{}/Data.csv".format(name,str(loc)))
        g = sns.lineplot(x = "DateTime", y = name2,color="red", data = df)
        g = sns.scatterplot(x = "DateTime", y = name2,marker="v",color="red", data = df, s=100)
        labels = g.get_xticklabels()
        plt.setp(labels, rotation = 90, horizontalalignment = 'right')
        plt.savefig('Downloads/Runtime/{}/Location{}/Data.jpeg'.format(name,str(loc)),bbox_inches='tight')
    except Exception as e:
        print("error : ", e)
#create_graph2("Potassium(mg_l)",1)

In [6]:
#function for generating the location and data csv files for the first time use 
def create_csv():
    #request and open the required url
    url = urlopen("http://125.19.52.218/realtime/")
    #make BeautifulSoup object
    soup = BeautifulSoup(url, "html.parser")
    
    #find the needed info using bs4 object
    m2 = soup.find_all("h3")
    m3 = soup.find_all("div", {"class" : "tableData"})
    
    #create datetime object
    now = datetime.datetime.now()
    
    #initilizing the variable k
    k = 1
    
    #calling the item-list function and replacing the list names element with specified value
    master_list3 = item_list()
    names=[]
    for j in master_list3:
        j = j.replace("_","/")
        names.append(j)
        
    #create list of water sample other details
    for element in m3:
        temp_dic={}
        l = 0
        m4=element.find_all("tr")
        for ele in m4:
            try:
                #finding the required data
                temp_dic[ele.find("td").text.strip()]=ele.find_all("td")[-1].text.strip()
            except:
                continue
        #checking whether the dictionary is empty or not
        if temp_dic!={}:
            for i in names:
                l1 = []
                temp_dic2 = {}
                temp_dic2["DateTime"] = now.strftime('%d %b %H:%M')
                temp_dic2["Date"] = now.strftime('%d %b %Y')
                temp_dic2["Time"] = now.strftime('%H:%M:%S')
                temp_dic2[i]=temp_dic.get(i,0.0)
                #print(temp_dic2[i])
                
                #adding dictionary to a list
                l1.append(temp_dic2)
                
                #creating a dataframe
                df = pd.DataFrame(l1)
                #display(df)
                #generating the csv files of the required data
                df.to_csv('Downloads/Runtime/{}/Location{}/Data.csv'.format(master_list3[l],str(k)),index=True)
                l = l + 1
            k = k + 1
#create_csv()

In [7]:
#function for generating the updated csv files for the scraped data 
def create_csv2():
    #request and open the required url
    url = urlopen("http://125.19.52.218/realtime/")
    #make BeautifulSoup object
    soup = BeautifulSoup(url, "html.parser")
    
    #find the needed info using bs4 object
    m3 = soup.find_all("div", {"class" : "tableData"})
    
    #create datetime object
    now = datetime.datetime.now()
    
    #initilizing the variable k
    k = 1
    
    #calling the item-list function and replacing the list names element with specified value
    master_list3 = item_list()
    names=[]
    for j in master_list3:
        j = j.replace("_","/")
        names.append(j)
        
    #create list of water sample other details
    for element in m3:
        temp_dic={}
        l = 0
        m4=element.find_all("tr")
        for ele in m4:
            try:
                #finding the required data
                temp_dic[ele.find("td").text.strip()]=ele.find_all("td")[-1].text.strip()
            except:
                continue
        #checking whether the dictionary is empty or not
        if temp_dic!={}:
            for i in names:
                l1 = []
                temp_dic2 = {}
                temp_dic2["DateTime"] = now.strftime('%d %b %H:%M')
                temp_dic2["Date"] = now.strftime('%d %b %Y')
                temp_dic2["Time"] = now.strftime('%H:%M:%S')
                temp_dic2[i]=temp_dic.get(i,"")
                
                #read the previously generated csv file
                df1=pd.read_csv('Downloads/Runtime/{}/Location{}/Data.csv'.format(master_list3[l],str(k)))
                #converting the data into list of dictionary
                a=df1.to_dict("records")
                try:
                    #eleminating unwanted column generated due to the "".read_csv method"
                    del a[-1]["Unnamed: 0"]
                except:
                    pass
                try:
                    x = float(temp_dic2[i])
                except:
                    #chaning the nan/empty string with a value(0.0)
                    temp_dic2[i]=0.0
                
                #checking for the updation of data    
                if float(a[-1].get(i,"0.0")) != float(temp_dic2.get(i,"0.0")): 
                    #adding updated data to list of dictionary
                    a.append(temp_dic2)
                    #craete a panda dataframe
                    df2=pd.DataFrame(a)
                    #showing the changes that are updated in a csv file
                    display(df2)
                    #genrating the updated data csv file
                    df2.to_csv('Downloads/Runtime/{}/Location{}/Data.csv'.format(master_list3[l],str(k)), index=False)
                    create_graph2(master_list3[l],k)
                    time.sleep(5)
                l = l + 1
            k = k + 1

In [8]:
#function for checking whether data is updated on a site or not
def notifyer():
    # setting the URL we want to monitor
    url = Request('http://125.19.52.218/realtime/', headers={'User-Agent': 'Mozilla/5.0'})

    print("running")

    #monitering the website
    while True:
        try:
            #open file in read mode and get the old hashcode of the site
            file = open("hash2code.txt","r")
            currentHash = file.readline()
            file.close()

            # perform the get request
            response = urlopen(url).read()

            # create a new hash
            newHash = hashlib.sha224(response).hexdigest()

            # check if new hash is same as the previous hash
            if newHash == currentHash:
                print("Data not updated")
                print("process done.....")
                print("next process starts.....")
                
                # wait for 10 seconds
                time.sleep(3600)
                continue

            # if something changed in the hashes
            else:
                # notify
                print("Data updated")
                create_csv2()
                time.sleep(20)

                #create a file, write it and close it
                file = open("hash2code.txt","w+")
                file.write(newHash)
                file.close()
                
                print("process done.....")
                print("next process starts.....")
                
                # wait for 10 seconds
                time.sleep(3600)
                continue

        #handling exceptions
        except Exception as e:
            print("error",e)
            continue

In [ ]:
#defining the main function
if __name__ == '__main__':
    #calling the notifyer function to check the status of the scraped data
    notifyer()

running
Data updated

    Unnamed: 0      DateTime         Date      Time    pH
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24  7.63
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48  7.75
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04  7.76
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19  7.77
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19  7.75
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24  7.76
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51  7.77
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16  7.75
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40  7.76
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39  7.75
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01  7.73
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56  7.72
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28  7.75
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33   7.7
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03  7.71
15        15.0  11 Aug 08:47  11 Aug 2021  08:47:06  7.67
16        16.0  11 Aug 10:20  11 Aug 2021  10:20:04  7.66
17        17.0  12 Aug 10:59  12 Aug 2021  10:59:37  7.67
18        18.0  12 Aug 12:14  12 Aug 2021  12:14:31  7.65
19        19.0  16 Aug 10:05  16 Aug 2021  10:05:25  7.46
20        20.0  16 Aug 11:06  16 Aug 2021  11:06:03  7.45
21        21.0  16 Aug 16:15  16 Aug 2021  16:15:54  7.44
22        22.0  16 Aug 18:19  16 Aug 2021  18:19:53  7.45
23        23.0  16 Aug 19:20  16 Aug 2021  19:20:17  7.44
24        24.0  19 Aug 21:09  19 Aug 2021  21:09:25  7.21
25        25.0  19 Aug 22:09  19 Aug 2021  22:09:52  7.22
26        26.0  23 Aug 15:16  23 Aug 2021  15:16:38  7.31
27        27.0  23 Aug 18:03  23 Aug 2021  18:03:46  7.32
28        28.0  28 Aug 10:21  28 Aug 2021  10:21:18   7.3
29        29.0  28 Aug 11:35  28 Aug 2021  11:35:06  7.28
30        30.0  28 Aug 12:45  28 Aug 2021  12:45:39   7.3
31        31.0  28 Aug 18:00  28 Aug 2021  18:00:08  7.33
32         NaN  03 Sep 02:17  03 Sep 2021  02:17:33  7.22
33         NaN  10 Sep 17:38  10 Sep 2021  17:38:26  7.35
34         NaN  10 Sep 23:24  10 Sep 2021  23:24:03  7.34
35         NaN  11 Sep 00:03  11 Sep 2021  00:03:49  7.33

    Unnamed: 0      DateTime         Date      Time Conductivity(µS/cm)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24                 291
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48                 159
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04                 158
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19                 159
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19                 160
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24                 159
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51                 160
7          7.0  10 Aug 00:49  10 Aug 2021  00:49:39                 161
8          8.0  10 Aug 08:24  10 Aug 2021  08:24:01                 168
9          9.0  10 Aug 10:27  10 Aug 2021  10:27:28                 169
10        10.0  10 Aug 19:26  10 Aug 2021  19:26:33                 176
11        11.0  10 Aug 20:27  10 Aug 2021  20:27:03                 177
12        12.0  10 Aug 21:30  10 Aug 2021  21:30:23                 178
13        13.0  11 Aug 08:47  11 Aug 2021  08:47:06                 188
14        14.0  12 Aug 10:59  12 Aug 2021  10:59:37                 187
15        15.0  16 Aug 10:05  16 Aug 2021  10:05:25                 231
16        16.0  16 Aug 11:06  16 Aug 2021  11:06:03                 233
17        17.0  16 Aug 15:15  16 Aug 2021  15:15:28                 234
18        18.0  16 Aug 16:15  16 Aug 2021  16:15:54                 239
19        19.0  16 Aug 17:19  16 Aug 2021  17:19:32                 236
20        20.0  16 Aug 18:19  16 Aug 2021  18:19:53                 235
21        21.0  16 Aug 19:20  16 Aug 2021  19:20:17                 236
22        22.0  16 Aug 23:18  16 Aug 2021  23:18:09                 239
23        23.0  17 Aug 00:18  17 Aug 2021  00:18:33                 238
24        24.0  19 Aug 21:09  19 Aug 2021  21:09:25                 262
25        25.0  19 Aug 22:09  19 Aug 2021  22:09:52                 261
26        26.0  23 Aug 15:16  23 Aug 2021  15:16:38                 263
27        27.0  23 Aug 18:03  23 Aug 2021  18:03:46                 264
28        28.0  28 Aug 10:21  28 Aug 2021  10:21:18                 312
29        29.0  28 Aug 11:35  28 Aug 2021  11:35:06                 314
30        30.0  28 Aug 12:45  28 Aug 2021  12:45:39                 312
31        31.0  28 Aug 15:26  28 Aug 2021  15:26:51                 318
32        32.0  28 Aug 18:00  28 Aug 2021  18:00:08                 315
33        33.0  28 Aug 19:18  28 Aug 2021  19:18:38                 316
34         NaN  03 Sep 02:17  03 Sep 2021  02:17:33                 286
35         NaN   03 09 10:54  03 Sep 2021  10:54:46                 290
36         NaN  10 Sep 17:38  10 Sep 2021  17:38:26                 324
37         NaN  10 Sep 23:24  10 Sep 2021  23:24:03                 328
38         NaN  11 Sep 00:03  11 Sep 2021  00:03:49               329.0

    Unnamed: 0      DateTime         Date      Time Nitrate(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24          0.52
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48          0.59
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04          0.16
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19          0.82
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19          0.71
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24          0.87
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51          0.67
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16          0.66
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40           0.8
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39             0
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01          0.91
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56          0.55
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28           0.8
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33          0.88
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03          0.73
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23             0
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06          0.86
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04          0.81
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36          0.89
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21          0.87
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37             0
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31           0.9
22        22.0  16 Aug 10:05  16 Aug 2021  10:05:25          1.01
23        23.0  16 Aug 11:06  16 Aug 2021  11:06:03             1
24        24.0  16 Aug 16:15  16 Aug 2021  16:15:54          0.79
25        25.0  16 Aug 17:19  16 Aug 2021  17:19:32             1
26        26.0  16 Aug 18:19  16 Aug 2021  18:19:53          0.99
27        27.0  16 Aug 19:20  16 Aug 2021  19:20:17          1.02
28        28.0  16 Aug 23:18  16 Aug 2021  23:18:09          1.01
29        29.0  19 Aug 21:09  19 Aug 2021  21:09:25          2.01
30        30.0  19 Aug 22:09  19 Aug 2021  22:09:52          1.99
31        31.0  23 Aug 15:16  23 Aug 2021  15:16:38          1.96
32        32.0  23 Aug 18:03  23 Aug 2021  18:03:46          1.95
33        33.0  28 Aug 10:21  28 Aug 2021  10:21:18          2.13
34        34.0  28 Aug 11:35  28 Aug 2021  11:35:06          2.01
35        35.0  28 Aug 12:45  28 Aug 2021  12:45:39          2.04
36        36.0  28 Aug 15:26  28 Aug 2021  15:26:51          2.03
37        37.0  28 Aug 18:00  28 Aug 2021  18:00:08          2.06
38        38.0  28 Aug 19:18  28 Aug 2021  19:18:38          2.08
39         NaN  03 Sep 02:17  03 Sep 2021  02:17:33          1.85
40         NaN   03 09 10:54  03 Sep 2021  10:54:46          1.87
41         NaN  10 Sep 17:38  10 Sep 2021  17:38:26          2.11
42         NaN  10 Sep 23:24  10 Sep 2021  23:24:03          2.08
43         NaN  11 Sep 00:03  11 Sep 2021  00:03:49           2.1

    Unnamed: 0      DateTime         Date      Time BOD(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24      2.24
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48      5.39
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04      6.09
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19      5.29
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19      4.94
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24       5.4
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51       5.3
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16      5.68
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40      5.45
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39         0
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01      2.58
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56      2.62
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28      2.71
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33      2.55
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03      2.87
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23         0
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06      2.31
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04      2.45
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36       2.5
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21      2.34
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37         0
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31      2.28
22        22.0  16 Aug 11:06  16 Aug 2021  11:06:03      2.26
23        23.0  16 Aug 15:15  16 Aug 2021  15:15:28      2.23
24        24.0  16 Aug 16:15  16 Aug 2021  16:15:54      2.36
25        25.0  16 Aug 17:19  16 Aug 2021  17:19:32      2.25
26        26.0  16 Aug 18:19  16 Aug 2021  18:19:53      2.24
27        27.0  16 Aug 23:18  16 Aug 2021  23:18:09      2.25
28        28.0  19 Aug 21:09  19 Aug 2021  21:09:25       2.1
29        29.0  19 Aug 22:09  19 Aug 2021  22:09:52      2.08
30        30.0  23 Aug 15:16  23 Aug 2021  15:16:38      2.09
31        31.0  23 Aug 18:03  23 Aug 2021  18:03:46       2.1
32        32.0  28 Aug 10:21  28 Aug 2021  10:21:18      2.16
33        33.0  28 Aug 11:35  28 Aug 2021  11:35:06      2.18
34        34.0  28 Aug 12:45  28 Aug 2021  12:45:39      2.16
35        35.0  28 Aug 15:26  28 Aug 2021  15:26:51      2.17
36        36.0  28 Aug 18:00  28 Aug 2021  18:00:08      2.14
37        37.0  28 Aug 19:18  28 Aug 2021  19:18:38      2.15
38         NaN  03 Sep 02:17  03 Sep 2021  02:17:33      2.26
39         NaN  10 Sep 17:38  10 Sep 2021  17:38:26       2.1
40         NaN  10 Sep 23:24  10 Sep 2021  23:24:03      2.13
41         NaN  11 Sep 00:03  11 Sep 2021  00:03:49      2.08

    Unnamed: 0      DateTime         Date      Time DO(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24      2.7
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     6.17
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     6.19
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     6.18
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     6.12
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     6.32
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     6.34
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     6.51
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     6.48
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39     6.65
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     6.62
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     6.68
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28     6.75
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     6.82
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     6.79
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23     6.77
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06     7.18
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     7.34
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     7.49
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     7.66
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37     7.87
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31     7.96
22        22.0  16 Aug 10:05  16 Aug 2021  10:05:25     6.61
23        23.0  16 Aug 11:06  16 Aug 2021  11:06:03     6.63
24        24.0  16 Aug 15:15  16 Aug 2021  15:15:28      6.7
25        25.0  16 Aug 16:15  16 Aug 2021  16:15:54     6.53
26        26.0  16 Aug 17:19  16 Aug 2021  17:19:32     6.73
27        27.0  16 Aug 18:19  16 Aug 2021  18:19:53     6.76
28        28.0  16 Aug 19:20  16 Aug 2021  19:20:17     6.74
29        29.0  16 Aug 23:18  16 Aug 2021  23:18:09     6.61
30        30.0  17 Aug 00:18  17 Aug 2021  00:18:33      6.7
31        31.0  19 Aug 21:09  19 Aug 2021  21:09:25      5.7
32        32.0  19 Aug 22:09  19 Aug 2021  22:09:52     5.75
33        33.0  23 Aug 15:16  23 Aug 2021  15:16:38     6.46
34        34.0  23 Aug 18:03  23 Aug 2021  18:03:46     6.53
35        35.0  28 Aug 10:21  28 Aug 2021  10:21:18     6.27
36        36.0  28 Aug 11:35  28 Aug 2021  11:35:06     6.14
37        37.0  28 Aug 12:45  28 Aug 2021  12:45:39     6.34
38        38.0  28 Aug 15:26  28 Aug 2021  15:26:51     6.28
39        39.0  28 Aug 18:00  28 Aug 2021  18:00:08     6.52
40        40.0  28 Aug 19:18  28 Aug 2021  19:18:38     6.42
41         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     6.69
42         NaN   03 09 10:54  03 Sep 2021  10:54:46     6.61
43         NaN  10 Sep 17:38  10 Sep 2021  17:38:26     7.13
44         NaN  10 Sep 23:24  10 Sep 2021  23:24:03     7.06
45         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     7.02

    Unnamed: 0      DateTime         Date      Time COD(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24     14.38
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     12.47
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04      11.8
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     12.56
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     12.89
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     12.43
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51      12.5
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     12.23
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     12.41
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39         0
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     13.36
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56      13.1
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28     13.36
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     13.67
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     12.76
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23         0
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06      14.3
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     14.07
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     14.02
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     14.28
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37         0
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31     14.31
22        22.0  16 Aug 10:05  16 Aug 2021  10:05:25     16.12
23        23.0  16 Aug 11:06  16 Aug 2021  11:06:03     16.06
24        24.0  16 Aug 16:15  16 Aug 2021  16:15:54     15.62
25        25.0  16 Aug 17:19  16 Aug 2021  17:19:32     16.05
26        26.0  16 Aug 18:19  16 Aug 2021  18:19:53     16.06
27        27.0  16 Aug 19:20  16 Aug 2021  19:20:17     16.11
28        28.0  16 Aug 23:18  16 Aug 2021  23:18:09     16.12
29        29.0  17 Aug 00:18  17 Aug 2021  00:18:33     16.11
30        30.0  19 Aug 21:09  19 Aug 2021  21:09:25     16.04
31        31.0  23 Aug 15:16  23 Aug 2021  15:16:38     16.07
32        32.0  23 Aug 18:03  23 Aug 2021  18:03:46     16.12
33        33.0  28 Aug 10:21  28 Aug 2021  10:21:18     16.24
34        34.0  28 Aug 11:35  28 Aug 2021  11:35:06     16.43
35        35.0  28 Aug 12:45  28 Aug 2021  12:45:39     16.41
36        36.0  28 Aug 15:26  28 Aug 2021  15:26:51     16.43
37        37.0  28 Aug 18:00  28 Aug 2021  18:00:08     16.31
38        38.0  28 Aug 19:18  28 Aug 2021  19:18:38     16.27
39         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     15.52
40         NaN  10 Sep 17:38  10 Sep 2021  17:38:26     16.43
41         NaN  10 Sep 23:24  10 Sep 2021  23:24:03     16.49
42         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     16.55

    Unnamed: 0      DateTime         Date      Time Ammonia(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24          0.15
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48          0.56
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04          0.55
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19          0.54
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19          0.57
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24          0.59
6          6.0  09 Aug 19:30  09 Aug 2021  19:30:40           0.6
7          7.0  10 Aug 00:49  10 Aug 2021  00:49:39          0.58
8          8.0  10 Aug 08:24  10 Aug 2021  08:24:01           0.6
9          9.0  10 Aug 09:26  10 Aug 2021  09:26:56          0.62
10        10.0  10 Aug 10:27  10 Aug 2021  10:27:28           0.6
11        11.0  10 Aug 19:26  10 Aug 2021  19:26:33          0.63
12        12.0  10 Aug 21:30  10 Aug 2021  21:30:23          0.64
13        13.0  11 Aug 08:47  11 Aug 2021  08:47:06          0.67
14        14.0  11 Aug 10:20  11 Aug 2021  10:20:04          0.61
15        15.0  11 Aug 12:13  11 Aug 2021  12:13:36          0.67
16        16.0  11 Aug 16:56  11 Aug 2021  16:56:21          0.65
17        17.0  12 Aug 10:59  12 Aug 2021  10:59:37          0.64
18        18.0  12 Aug 12:14  12 Aug 2021  12:14:31          0.67
19        19.0  16 Aug 10:05  16 Aug 2021  10:05:25          0.73
20        20.0  16 Aug 11:06  16 Aug 2021  11:06:03          0.76
21        21.0  16 Aug 15:15  16 Aug 2021  15:15:28          0.79
22        22.0  16 Aug 16:15  16 Aug 2021  16:15:54           0.8
23        23.0  16 Aug 17:19  16 Aug 2021  17:19:32          0.81
24        24.0  16 Aug 18:19  16 Aug 2021  18:19:53          0.82
25        25.0  16 Aug 23:18  16 Aug 2021  23:18:09          0.83
26        26.0  19 Aug 21:09  19 Aug 2021  21:09:25          0.95
27        27.0  19 Aug 22:09  19 Aug 2021  22:09:52          0.94
28        28.0  23 Aug 15:16  23 Aug 2021  15:16:38          0.91
29        29.0  23 Aug 18:03  23 Aug 2021  18:03:46          0.92
30        30.0  28 Aug 10:21  28 Aug 2021  10:21:18          0.85
31        31.0  28 Aug 11:35  28 Aug 2021  11:35:06          0.86
32        32.0  28 Aug 18:00  28 Aug 2021  18:00:08          0.88
33        33.0  28 Aug 19:18  28 Aug 2021  19:18:38          0.87
34         NaN  03 Sep 02:17  03 Sep 2021  02:17:33          0.93
35         NaN   03 09 10:54  03 Sep 2021  10:54:46          0.94
36         NaN  10 Sep 17:38  10 Sep 2021  17:38:26          0.81
37         NaN  10 Sep 23:24  10 Sep 2021  23:24:03          0.79
38         NaN  11 Sep 00:03  11 Sep 2021  00:03:49           0.8

    Unnamed: 0      DateTime         Date      Time TSS(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24    336.03
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     34.03
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     34.19
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19        34
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     33.93
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     34.04
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     34.03
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     34.08
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     34.04
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39         0
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     33.82
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     33.89
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28     33.82
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     33.75
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     34.07
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23         0
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06     33.62
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     33.68
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     33.69
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     33.63
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37         0
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31     33.63
22        22.0  16 Aug 10:05  16 Aug 2021  10:05:25     33.16
23        23.0  16 Aug 11:06  16 Aug 2021  11:06:03     33.18
24        24.0  16 Aug 16:15  16 Aug 2021  16:15:54     33.35
25        25.0  16 Aug 17:19  16 Aug 2021  17:19:32     33.19
26        26.0  16 Aug 19:20  16 Aug 2021  19:20:17     33.17
27        27.0  19 Aug 21:09  19 Aug 2021  21:09:25     20.45
28        28.0  23 Aug 15:16  23 Aug 2021  15:16:38     20.43
29        29.0  23 Aug 18:03  23 Aug 2021  18:03:46      20.4
30        30.0  28 Aug 10:21  28 Aug 2021  10:21:18     20.37
31        31.0  28 Aug 11:35  28 Aug 2021  11:35:06     20.23
32        32.0  28 Aug 12:45  28 Aug 2021  12:45:39     20.24
33        33.0  28 Aug 15:26  28 Aug 2021  15:26:51     20.23
34        34.0  28 Aug 18:00  28 Aug 2021  18:00:08      20.3
35        35.0  28 Aug 19:18  28 Aug 2021  19:18:38     20.32
36         NaN  03 Sep 02:17  03 Sep 2021  02:17:33    122.29
37         NaN  10 Sep 17:38  10 Sep 2021  17:38:26    123.26
38         NaN  10 Sep 23:24  10 Sep 2021  23:24:03    123.34
39         NaN  11 Sep 00:03  11 Sep 2021  00:03:49    123.41

    Unnamed: 0      DateTime         Date      Time Conductivity(µS/cm)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24                 138
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48                 165
2          2.0  09 Aug 15:16  09 Aug 2021  15:16:19                 166
3          3.0  09 Aug 16:29  09 Aug 2021  16:29:24                 164
4          4.0  09 Aug 17:29  09 Aug 2021  17:29:51                 165
5          5.0  09 Aug 18:30  09 Aug 2021  18:30:16                 167
6          6.0  10 Aug 00:49  10 Aug 2021  00:49:39                 168
7          7.0  10 Aug 08:24  10 Aug 2021  08:24:01                 164
8          8.0  10 Aug 19:26  10 Aug 2021  19:26:33                 156
9          9.0  10 Aug 21:30  10 Aug 2021  21:30:23                 157
10        10.0  11 Aug 08:47  11 Aug 2021  08:47:06                 155
11        11.0  11 Aug 12:13  11 Aug 2021  12:13:36                 156
12        12.0  11 Aug 16:56  11 Aug 2021  16:56:21                 165
13        13.0  12 Aug 10:59  12 Aug 2021  10:59:37                 148
14        14.0  16 Aug 10:05  16 Aug 2021  10:05:25                 152
15        15.0  16 Aug 15:15  16 Aug 2021  15:15:28                 153
16        16.0  16 Aug 18:19  16 Aug 2021  18:19:53                 154
17        17.0  19 Aug 21:09  19 Aug 2021  21:09:25                 178
18        18.0  19 Aug 22:09  19 Aug 2021  22:09:52                 179
19        19.0  23 Aug 15:16  23 Aug 2021  15:16:38                 180
20        20.0  28 Aug 10:21  28 Aug 2021  10:21:18                 178
21        21.0  28 Aug 18:00  28 Aug 2021  18:00:08                 177
22         NaN  03 Sep 02:17  03 Sep 2021  02:17:33                 191
23         NaN   03 09 10:54  03 Sep 2021  10:54:46                 194
24         NaN  10 Sep 17:38  10 Sep 2021  17:38:26                 201
25         NaN  10 Sep 23:24  10 Sep 2021  23:24:03                 200
26         NaN  11 Sep 00:03  11 Sep 2021  00:03:49               201.0

    Unnamed: 0      DateTime         Date      Time Chloride(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24            7.5
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48            8.3
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04            8.5
3          3.0  09 Aug 15:16  09 Aug 2021  15:16:19            8.6
4          4.0  09 Aug 16:29  09 Aug 2021  16:29:24            8.5
5          5.0  09 Aug 17:29  09 Aug 2021  17:29:51            8.4
6          6.0  09 Aug 18:30  09 Aug 2021  18:30:16            8.7
7          7.0  09 Aug 19:30  09 Aug 2021  19:30:40            8.8
8          8.0  10 Aug 00:49  10 Aug 2021  00:49:39            8.3
9          9.0  10 Aug 08:24  10 Aug 2021  08:24:01              8
10        10.0  10 Aug 10:27  10 Aug 2021  10:27:28            8.2
11        11.0  10 Aug 19:26  10 Aug 2021  19:26:33            8.7
12        12.0  10 Aug 21:30  10 Aug 2021  21:30:23            8.6
13        13.0  11 Aug 08:47  11 Aug 2021  08:47:06            7.9
14        14.0  11 Aug 10:20  11 Aug 2021  10:20:04              8
15        15.0  11 Aug 12:13  11 Aug 2021  12:13:36            7.9
16        16.0  11 Aug 16:56  11 Aug 2021  16:56:21            8.7
17        17.0  12 Aug 10:59  12 Aug 2021  10:59:37              8
18        18.0  12 Aug 12:14  12 Aug 2021  12:14:31            8.1
19        19.0  16 Aug 10:05  16 Aug 2021  10:05:25            8.6
20        20.0  16 Aug 11:06  16 Aug 2021  11:06:03            8.7
21        21.0  16 Aug 15:15  16 Aug 2021  15:15:28            9.2
22        22.0  16 Aug 16:15  16 Aug 2021  16:15:54              9
23        23.0  16 Aug 17:19  16 Aug 2021  17:19:32            8.8
24        24.0  16 Aug 18:19  16 Aug 2021  18:19:53            9.1
25        25.0  16 Aug 19:20  16 Aug 2021  19:20:17            8.9
26        26.0  16 Aug 23:18  16 Aug 2021  23:18:09            8.6
27        27.0  19 Aug 21:09  19 Aug 2021  21:09:25            9.6
28        28.0  19 Aug 22:09  19 Aug 2021  22:09:52            9.3
29        29.0  23 Aug 15:16  23 Aug 2021  15:16:38            9.6
30        30.0  23 Aug 18:03  23 Aug 2021  18:03:46            9.8
31        31.0  28 Aug 10:21  28 Aug 2021  10:21:18           10.6
32        32.0  28 Aug 11:35  28 Aug 2021  11:35:06           10.5
33        33.0  28 Aug 15:26  28 Aug 2021  15:26:51           10.3
34        34.0  28 Aug 18:00  28 Aug 2021  18:00:08           10.4
35        35.0  28 Aug 19:18  28 Aug 2021  19:18:38           10.3
36         NaN  03 Sep 02:17  03 Sep 2021  02:17:33           10.1
37         NaN   03 09 10:54  03 Sep 2021  10:54:46           10.2
38         NaN  10 Sep 17:38  10 Sep 2021  17:38:26            8.6
39         NaN  10 Sep 23:24  10 Sep 2021  23:24:03            8.4
40         NaN  11 Sep 00:03  11 Sep 2021  00:03:49            8.3

    Unnamed: 0      DateTime         Date      Time Nitrate(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24          1.38
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48          1.33
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04          1.36
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19           1.3
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19          1.28
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24          1.27
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51          1.28
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16          1.29
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40          1.26
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39          1.27
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01          1.34
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56          1.36
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28          1.34
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33          1.26
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03          1.22
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23          1.25
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06          1.34
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04          1.36
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36          1.33
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21           1.3
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02          1.28
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37          1.33
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31          1.32
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25          1.27
24        24.0  16 Aug 15:15  16 Aug 2021  15:15:28          1.26
25        25.0  16 Aug 16:15  16 Aug 2021  16:15:54          1.25
26        26.0  16 Aug 23:18  16 Aug 2021  23:18:09          1.26
27        27.0  19 Aug 21:09  19 Aug 2021  21:09:25          1.25
28        28.0  19 Aug 22:09  19 Aug 2021  22:09:52          1.26
29        29.0  23 Aug 15:16  23 Aug 2021  15:16:38          1.24
30        30.0  28 Aug 10:21  28 Aug 2021  10:21:18          1.25
31        31.0  28 Aug 11:35  28 Aug 2021  11:35:06          1.26
32        32.0  28 Aug 15:26  28 Aug 2021  15:26:51          1.23
33        33.0  28 Aug 18:00  28 Aug 2021  18:00:08          1.22
34        34.0  28 Aug 19:18  28 Aug 2021  19:18:38           1.2
35         NaN  03 Sep 02:17  03 Sep 2021  02:17:33          1.23
36         NaN   03 09 10:54  03 Sep 2021  10:54:46          1.26
37         NaN  10 Sep 17:38  10 Sep 2021  17:38:26          1.12
38         NaN  10 Sep 23:24  10 Sep 2021  23:24:03          1.04
39         NaN  11 Sep 00:03  11 Sep 2021  00:03:49          1.02

    Unnamed: 0      DateTime         Date      Time Water Level(cm.)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24           371.83
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48           362.29
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04           361.91
3          3.0  09 Aug 16:29  09 Aug 2021  16:29:24           361.53
4          4.0  09 Aug 18:30  09 Aug 2021  18:30:16           360.77
5          5.0  09 Aug 19:30  09 Aug 2021  19:30:40           359.24
6          6.0  10 Aug 00:49  10 Aug 2021  00:49:39           358.48
7          7.0  10 Aug 08:24  10 Aug 2021  08:24:01           358.86
8          8.0  10 Aug 09:26  10 Aug 2021  09:26:56            358.1
9          9.0  10 Aug 10:27  10 Aug 2021  10:27:28           358.86
10        10.0  10 Aug 19:26  10 Aug 2021  19:26:33            358.1
11        11.0  10 Aug 20:27  10 Aug 2021  20:27:03           357.33
12        12.0  10 Aug 21:30  10 Aug 2021  21:30:23           357.71
13        13.0  11 Aug 08:47  11 Aug 2021  08:47:06           361.91
14        14.0  11 Aug 10:20  11 Aug 2021  10:20:04           362.29
15        15.0  11 Aug 16:56  11 Aug 2021  16:56:21           361.53
16        16.0  11 Aug 18:00  11 Aug 2021  18:00:02           361.91
17        17.0  12 Aug 10:59  12 Aug 2021  10:59:37           376.03
18        18.0  12 Aug 12:14  12 Aug 2021  12:14:31           377.55
19        19.0  16 Aug 10:05  16 Aug 2021  10:05:25           392.05
20        20.0  16 Aug 15:15  16 Aug 2021  15:15:28           391.28
21        21.0  16 Aug 16:15  16 Aug 2021  16:15:54           392.05
22        22.0  16 Aug 17:19  16 Aug 2021  17:19:32            390.9
23        23.0  16 Aug 18:19  16 Aug 2021  18:19:53           392.05
24        24.0  16 Aug 19:20  16 Aug 2021  19:20:17           391.28
25        25.0  19 Aug 21:09  19 Aug 2021  21:09:25            390.9
26        26.0  19 Aug 22:09  19 Aug 2021  22:09:52           389.76
27        27.0  23 Aug 15:16  23 Aug 2021  15:16:38           384.04
28        28.0  23 Aug 18:03  23 Aug 2021  18:03:46           383.27
29        29.0  28 Aug 10:21  28 Aug 2021  10:21:18           400.06
30        30.0  28 Aug 11:35  28 Aug 2021  11:35:06           399.68
31        31.0  28 Aug 12:45  28 Aug 2021  12:45:39           400.06
32        32.0  28 Aug 15:26  28 Aug 2021  15:26:51           398.15
33        33.0  28 Aug 18:00  28 Aug 2021  18:00:08           397.77
34        34.0  28 Aug 19:18  28 Aug 2021  19:18:38           397.01
35         NaN  03 Sep 02:17  03 Sep 2021  02:17:33           353.14
36         NaN   03 09 10:54  03 Sep 2021  10:54:46           350.85
37         NaN  10 Sep 17:38  10 Sep 2021  17:38:26            349.7
38         NaN  10 Sep 23:24  10 Sep 2021  23:24:03           348.94
39         NaN  11 Sep 00:03  11 Sep 2021  00:03:49           349.32

    Unnamed: 0      DateTime         Date      Time BOD(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24      4.09
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48      3.81
2          2.0  09 Aug 15:16  09 Aug 2021  15:16:19      3.79
3          3.0  09 Aug 16:29  09 Aug 2021  16:29:24      3.81
4          4.0  09 Aug 17:29  09 Aug 2021  17:29:51      3.82
5          5.0  09 Aug 18:30  09 Aug 2021  18:30:16       3.8
6          6.0  09 Aug 19:30  09 Aug 2021  19:30:40      3.81
7          7.0  10 Aug 00:49  10 Aug 2021  00:49:39      3.82
8          8.0  10 Aug 08:24  10 Aug 2021  08:24:01      3.76
9          9.0  10 Aug 09:26  10 Aug 2021  09:26:56      3.78
10        10.0  10 Aug 10:27  10 Aug 2021  10:27:28      3.76
11        11.0  10 Aug 19:26  10 Aug 2021  19:26:33      3.77
12        12.0  10 Aug 20:27  10 Aug 2021  20:27:03      3.78
13        13.0  10 Aug 21:30  10 Aug 2021  21:30:23      3.76
14        14.0  11 Aug 08:47  11 Aug 2021  08:47:06      3.72
15        15.0  11 Aug 10:20  11 Aug 2021  10:20:04       3.7
16        16.0  11 Aug 12:13  11 Aug 2021  12:13:36      3.68
17        17.0  11 Aug 16:56  11 Aug 2021  16:56:21      3.73
18        18.0  12 Aug 10:59  12 Aug 2021  10:59:37      3.71
19        19.0  12 Aug 12:14  12 Aug 2021  12:14:31      3.72
20        20.0  16 Aug 10:05  16 Aug 2021  10:05:25      3.88
21        21.0  16 Aug 11:06  16 Aug 2021  11:06:03      3.85
22        22.0  16 Aug 15:15  16 Aug 2021  15:15:28      3.82
23        23.0  16 Aug 16:15  16 Aug 2021  16:15:54      3.83
24        24.0  16 Aug 18:19  16 Aug 2021  18:19:53      3.81
25        25.0  16 Aug 19:20  16 Aug 2021  19:20:17      3.82
26        26.0  16 Aug 23:18  16 Aug 2021  23:18:09      3.79
27        27.0  19 Aug 21:09  19 Aug 2021  21:09:25      3.54
28        28.0  19 Aug 22:09  19 Aug 2021  22:09:52      3.53
29        29.0  23 Aug 15:16  23 Aug 2021  15:16:38      3.42
30        30.0  23 Aug 18:03  23 Aug 2021  18:03:46      3.41
31        31.0  28 Aug 10:21  28 Aug 2021  10:21:18      3.49
32        32.0  28 Aug 11:35  28 Aug 2021  11:35:06      3.47
33        33.0  28 Aug 12:45  28 Aug 2021  12:45:39      3.49
34        34.0  28 Aug 15:26  28 Aug 2021  15:26:51      3.48
35        35.0  28 Aug 18:00  28 Aug 2021  18:00:08      3.49
36         NaN  03 Sep 02:17  03 Sep 2021  02:17:33      3.39
37         NaN   03 09 10:54  03 Sep 2021  10:54:46      3.37
38         NaN  10 Sep 17:38  10 Sep 2021  17:38:26      3.25
39         NaN  10 Sep 23:24  10 Sep 2021  23:24:03      3.21
40         NaN  11 Sep 00:03  11 Sep 2021  00:03:49       3.2

    Unnamed: 0      DateTime         Date      Time DO(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24     5.34
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     4.09
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     4.36
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     4.67
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     5.31
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     5.57
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     5.73
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     5.81
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     5.84
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39     4.66
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     3.82
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     3.77
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28      3.8
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     5.34
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     5.26
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23     5.08
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06     4.34
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     4.19
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     4.15
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     5.04
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02     5.29
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37     4.64
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31     4.92
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25     3.19
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03     3.33
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28     4.46
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54     4.63
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32      4.8
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53     4.95
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17     5.01
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09     4.76
31        31.0  19 Aug 21:09  19 Aug 2021  21:09:25     6.32
32        32.0  19 Aug 22:09  19 Aug 2021  22:09:52     6.13
33        33.0  23 Aug 15:16  23 Aug 2021  15:16:38     6.06
34        34.0  23 Aug 18:03  23 Aug 2021  18:03:46     7.38
35        35.0  28 Aug 10:21  28 Aug 2021  10:21:18     3.34
36        36.0  28 Aug 11:35  28 Aug 2021  11:35:06     3.58
37        37.0  28 Aug 12:45  28 Aug 2021  12:45:39     3.93
38        38.0  28 Aug 15:26  28 Aug 2021  15:26:51     5.34
39        39.0  28 Aug 18:00  28 Aug 2021  18:00:08     6.16
40        40.0  28 Aug 19:18  28 Aug 2021  19:18:38     6.45
41         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     4.32
42         NaN   03 09 10:54  03 Sep 2021  10:54:46     3.33
43         NaN  10 Sep 17:38  10 Sep 2021  17:38:26     5.61
44         NaN  10 Sep 23:24  10 Sep 2021  23:24:03      6.2
45         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     6.03

    Unnamed: 0      DateTime         Date      Time COD(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24     20.05
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     17.94
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     17.83
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     18.27
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     18.32
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     18.52
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     18.63
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     18.43
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     18.58
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39     18.24
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     17.37
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     17.35
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28     17.43
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33      18.2
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     18.34
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23     18.18
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06     17.56
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04      17.2
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     17.35
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     17.16
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02     17.32
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37     17.17
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31      17.3
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25     17.33
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03     17.28
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28     17.56
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54     17.61
27        27.0  16 Aug 18:19  16 Aug 2021  18:19:53     17.47
28        28.0  16 Aug 19:20  16 Aug 2021  19:20:17     17.37
29        29.0  16 Aug 23:18  16 Aug 2021  23:18:09     17.01
30        30.0  19 Aug 21:09  19 Aug 2021  21:09:25     15.97
31        31.0  19 Aug 22:09  19 Aug 2021  22:09:52     15.84
32        32.0  23 Aug 15:16  23 Aug 2021  15:16:38     15.83
33        33.0  23 Aug 18:03  23 Aug 2021  18:03:46     15.56
34        34.0  28 Aug 10:21  28 Aug 2021  10:21:18     15.58
35        35.0  28 Aug 11:35  28 Aug 2021  11:35:06      15.6
36        36.0  28 Aug 12:45  28 Aug 2021  12:45:39     15.64
37        37.0  28 Aug 15:26  28 Aug 2021  15:26:51     15.91
38        38.0  28 Aug 18:00  28 Aug 2021  18:00:08     15.97
39        39.0  28 Aug 19:18  28 Aug 2021  19:18:38     15.83
40         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     15.56
41         NaN   03 09 10:54  03 Sep 2021  10:54:46     15.49
42         NaN  10 Sep 17:38  10 Sep 2021  17:38:26      18.6
43         NaN  10 Sep 23:24  10 Sep 2021  23:24:03     19.53
44         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     19.44

    Unnamed: 0      DateTime         Date      Time Color(Pt.Scale,Hz units)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24                    89.78
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48                    87.08
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04                    86.88
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19                    87.73
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19                    87.85
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24                    88.15
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51                    88.29
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16                    87.91
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40                    88.19
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39                    87.61
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01                     86.2
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56                    86.15
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28                    86.36
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33                    87.71
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03                    88.02
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23                    87.66
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06                    86.68
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04                    86.13
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36                    86.51
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21                    86.11
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02                    86.41
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37                     86.1
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31                    86.35
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25                     88.9
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03                    88.47
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28                    93.53
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54                    94.36
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32                    94.29
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53                    92.46
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17                    91.39
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09                    87.23
31        31.0  19 Aug 21:09  19 Aug 2021  21:09:25                    80.18
32        32.0  19 Aug 22:09  19 Aug 2021  22:09:52                    78.27
33        33.0  23 Aug 15:16  23 Aug 2021  15:16:38                    82.55
34        34.0  23 Aug 18:03  23 Aug 2021  18:03:46                    78.18
35        35.0  28 Aug 10:21  28 Aug 2021  10:21:18                    57.29
36        36.0  28 Aug 11:35  28 Aug 2021  11:35:06                    57.83
37        37.0  28 Aug 12:45  28 Aug 2021  12:45:39                    58.54
38        38.0  28 Aug 15:26  28 Aug 2021  15:26:51                    64.97
39        39.0  28 Aug 18:00  28 Aug 2021  18:00:08                    66.21
40        40.0  28 Aug 19:18  28 Aug 2021  19:18:38                    62.66
41         NaN  03 Sep 02:17  03 Sep 2021  02:17:33                    60.73
42         NaN   03 09 10:54  03 Sep 2021  10:54:46                    60.24
43         NaN  10 Sep 17:38  10 Sep 2021  17:38:26                   101.29
44         NaN  10 Sep 23:24  10 Sep 2021  23:24:03                   111.13
45         NaN  11 Sep 00:03  11 Sep 2021  00:03:49                   110.96

    Unnamed: 0      DateTime         Date      Time Temperature(°C)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24            30.4
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48            31.2
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04            31.4
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19            31.8
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19            32.6
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24            33.1
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51            33.5
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16            33.7
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40            33.9
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39            33.1
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01            31.3
11        11.0  10 Aug 19:26  10 Aug 2021  19:26:33              33
12        12.0  10 Aug 21:30  10 Aug 2021  21:30:23            32.9
13        13.0  11 Aug 08:47  11 Aug 2021  08:47:06            30.8
14        14.0  11 Aug 10:20  11 Aug 2021  10:20:04            30.5
15        15.0  11 Aug 16:56  11 Aug 2021  16:56:21            31.1
16        16.0  11 Aug 18:00  11 Aug 2021  18:00:02            31.3
17        17.0  12 Aug 10:59  12 Aug 2021  10:59:37            29.8
18        18.0  12 Aug 12:14  12 Aug 2021  12:14:31            30.2
19        19.0  16 Aug 10:05  16 Aug 2021  10:05:25            30.7
20        20.0  16 Aug 11:06  16 Aug 2021  11:06:03            30.9
21        21.0  16 Aug 15:15  16 Aug 2021  15:15:28            31.4
22        22.0  16 Aug 19:20  16 Aug 2021  19:20:17            31.3
23        23.0  16 Aug 23:18  16 Aug 2021  23:18:09            30.9
24        24.0  19 Aug 21:09  19 Aug 2021  21:09:25            31.9
25        25.0  19 Aug 22:09  19 Aug 2021  22:09:52            31.7
26        26.0  23 Aug 15:16  23 Aug 2021  15:16:38            30.9
27        27.0  23 Aug 18:03  23 Aug 2021  18:03:46            31.9
28        28.0  28 Aug 10:21  28 Aug 2021  10:21:18            30.1
29        29.0  28 Aug 11:35  28 Aug 2021  11:35:06            30.2
30        30.0  28 Aug 12:45  28 Aug 2021  12:45:39            30.4
31        31.0  28 Aug 15:26  28 Aug 2021  15:26:51            31.8
32        32.0  28 Aug 18:00  28 Aug 2021  18:00:08            32.6
33        33.0  28 Aug 19:18  28 Aug 2021  19:18:38            32.7
34         NaN  03 Sep 02:17  03 Sep 2021  02:17:33            31.8
35         NaN   03 09 10:54  03 Sep 2021  10:54:46            30.8
36         NaN  10 Sep 17:38  10 Sep 2021  17:38:26            32.6
37         NaN  10 Sep 23:24  10 Sep 2021  23:24:03              34
38         NaN  11 Sep 00:03  11 Sep 2021  00:03:49            33.9

    Unnamed: 0      DateTime         Date      Time TSS(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24     28.85
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     16.48
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     15.32
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     20.72
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     21.28
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     22.76
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     23.41
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     20.91
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     22.93
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39     19.76
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     11.59
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     11.65
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28        13
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     20.45
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     22.85
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23     20.48
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06     14.67
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     12.02
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     14.76
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     12.95
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02     14.58
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37     12.52
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31     13.98
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25     37.64
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03     37.42
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28     41.76
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54     42.49
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32     42.53
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53     40.88
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17     40.28
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09      37.5
31        31.0  19 Aug 21:09  19 Aug 2021  21:09:25     35.32
32        32.0  19 Aug 22:09  19 Aug 2021  22:09:52     33.66
33        33.0  23 Aug 15:16  23 Aug 2021  15:16:38     39.19
34        34.0  23 Aug 18:03  23 Aug 2021  18:03:46     35.21
35        35.0  28 Aug 10:21  28 Aug 2021  10:21:18     24.61
36        36.0  28 Aug 11:35  28 Aug 2021  11:35:06     24.88
37        37.0  28 Aug 12:45  28 Aug 2021  12:45:39     25.28
38        38.0  28 Aug 15:26  28 Aug 2021  15:26:51     29.36
39        39.0  28 Aug 18:00  28 Aug 2021  18:00:08     30.44
40        40.0  28 Aug 19:18  28 Aug 2021  19:18:38     27.93
41         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     27.57
42         NaN   03 09 10:54  03 Sep 2021  10:54:46     28.03
43         NaN  10 Sep 17:38  10 Sep 2021  17:38:26     57.27
44         NaN  10 Sep 23:24  10 Sep 2021  23:24:03     68.66
45         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     68.86

    Unnamed: 0      DateTime         Date      Time TOC(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24      6.54
1          1.0  09 Aug 12:57  09 Aug 2021  12:57:04      6.43
2          2.0  09 Aug 13:57  09 Aug 2021  13:57:19       6.3
3          3.0  09 Aug 15:16  09 Aug 2021  15:16:19      6.22
4          4.0  09 Aug 16:29  09 Aug 2021  16:29:24      6.28
5          5.0  09 Aug 17:29  09 Aug 2021  17:29:51      6.46
6          6.0  09 Aug 18:30  09 Aug 2021  18:30:16      6.48
7          7.0  09 Aug 19:30  09 Aug 2021  19:30:40      6.47
8          8.0  10 Aug 00:49  10 Aug 2021  00:49:39      6.17
9          9.0  10 Aug 08:24  10 Aug 2021  08:24:01      6.38
10        10.0  10 Aug 09:26  10 Aug 2021  09:26:56      6.25
11        11.0  10 Aug 10:27  10 Aug 2021  10:27:28      6.51
12        12.0  10 Aug 19:26  10 Aug 2021  19:26:33      4.16
13        13.0  10 Aug 20:27  10 Aug 2021  20:27:03      4.71
14        14.0  10 Aug 21:30  10 Aug 2021  21:30:23       4.8
15        15.0  11 Aug 08:56  11 Aug 2021  08:56:54      4.43
16        16.0  11 Aug 10:20  11 Aug 2021  10:20:04       5.4
17        17.0  11 Aug 12:13  11 Aug 2021  12:13:36      4.12
18        18.0  11 Aug 16:56  11 Aug 2021  16:56:21      3.78
19        19.0  11 Aug 18:00  11 Aug 2021  18:00:02       3.9
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37      4.17
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31      4.86
22        22.0  16 Aug 10:05  16 Aug 2021  10:05:25      4.19
23        23.0  16 Aug 11:06  16 Aug 2021  11:06:03      4.29
24        24.0  16 Aug 15:15  16 Aug 2021  15:15:28      4.24
25        25.0  16 Aug 16:15  16 Aug 2021  16:15:54      4.05
26        26.0  16 Aug 17:19  16 Aug 2021  17:19:32      3.91
27        27.0  16 Aug 18:19  16 Aug 2021  18:19:53      3.93
28        28.0  16 Aug 19:20  16 Aug 2021  19:20:17      4.21
29        29.0  16 Aug 23:18  16 Aug 2021  23:18:09      3.95
30        30.0  17 Aug 00:18  17 Aug 2021  00:18:33       3.9
31        31.0  19 Aug 21:09  19 Aug 2021  21:09:25      3.83
32        32.0  19 Aug 22:09  19 Aug 2021  22:09:52      3.62
33        33.0  23 Aug 15:16  23 Aug 2021  15:16:38      3.73
34        34.0  23 Aug 18:03  23 Aug 2021  18:03:46      3.64
35        35.0  28 Aug 10:21  28 Aug 2021  10:21:18      3.32
36        36.0  28 Aug 11:35  28 Aug 2021  11:35:06      3.34
37        37.0  28 Aug 12:45  28 Aug 2021  12:45:39      3.36
38        38.0  28 Aug 15:26  28 Aug 2021  15:26:51      3.35
39        39.0  28 Aug 18:00  28 Aug 2021  18:00:08      3.34
40        40.0  28 Aug 19:18  28 Aug 2021  19:18:38      3.39
41         NaN  03 Sep 02:17  03 Sep 2021  02:17:33      3.64
42         NaN   03 09 10:54  03 Sep 2021  10:54:46      3.54
43         NaN  10 Sep 17:38  10 Sep 2021  17:38:26      4.04
44         NaN  10 Sep 23:24  10 Sep 2021  23:24:03      4.63
45         NaN  11 Sep 00:03  11 Sep 2021  00:03:49      4.21

    Unnamed: 0      DateTime         Date      Time Conductivity(µS/cm)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24                 229
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48                 328
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04                 329
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19                 330
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19                 331
5          5.0  09 Aug 17:29  09 Aug 2021  17:29:51                 332
6          6.0  09 Aug 18:30  09 Aug 2021  18:30:16                 333
7          7.0  10 Aug 00:49  10 Aug 2021  00:49:39                 337
8          8.0  10 Aug 08:24  10 Aug 2021  08:24:01                 344
9          9.0  10 Aug 09:26  10 Aug 2021  09:26:56                 345
10        10.0  10 Aug 10:27  10 Aug 2021  10:27:28                 346
11        11.0  10 Aug 19:26  10 Aug 2021  19:26:33                 352
12        12.0  11 Aug 08:47  11 Aug 2021  08:47:06                 353
13        13.0  11 Aug 12:13  11 Aug 2021  12:13:36                 352
14        14.0  11 Aug 16:56  11 Aug 2021  16:56:21                 350
15        15.0  12 Aug 10:59  12 Aug 2021  10:59:37                 357
16        16.0  12 Aug 12:14  12 Aug 2021  12:14:31                 359
17        17.0  16 Aug 10:05  16 Aug 2021  10:05:25                 374
18        18.0  16 Aug 15:15  16 Aug 2021  15:15:28                 372
19        19.0  16 Aug 16:15  16 Aug 2021  16:15:54                 374
20        20.0  17 Aug 00:18  17 Aug 2021  00:18:33                 375
21        21.0  19 Aug 21:09  19 Aug 2021  21:09:25                 236
22        22.0  19 Aug 22:09  19 Aug 2021  22:09:52                 235
23        23.0  23 Aug 15:16  23 Aug 2021  15:16:38                 239
24        24.0  23 Aug 18:03  23 Aug 2021  18:03:46                 241
25        25.0  28 Aug 10:21  28 Aug 2021  10:21:18                 248
26        26.0  28 Aug 11:35  28 Aug 2021  11:35:06                 249
27        27.0  28 Aug 12:45  28 Aug 2021  12:45:39                 253
28        28.0  28 Aug 15:26  28 Aug 2021  15:26:51                 242
29        29.0  28 Aug 18:00  28 Aug 2021  18:00:08                 252
30        30.0  28 Aug 19:18  28 Aug 2021  19:18:38                 242
31         NaN  03 Sep 02:17  03 Sep 2021  02:17:33                 239
32         NaN   03 09 10:54  03 Sep 2021  10:54:46                 240
33         NaN  10 Sep 17:38  10 Sep 2021  17:38:26                 268
34         NaN  10 Sep 23:24  10 Sep 2021  23:24:03                 278
35         NaN  11 Sep 00:03  11 Sep 2021  00:03:49               282.0

    Unnamed: 0      DateTime         Date      Time Nitrate(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24           1.3
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48          1.24
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04          1.21
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19          1.18
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19          1.21
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24          1.19
6          6.0  09 Aug 18:30  09 Aug 2021  18:30:16          1.11
7          7.0  09 Aug 19:30  09 Aug 2021  19:30:40          1.01
8          8.0  10 Aug 00:49  10 Aug 2021  00:49:39          1.21
9          9.0  10 Aug 08:24  10 Aug 2021  08:24:01          0.91
10        10.0  10 Aug 09:26  10 Aug 2021  09:26:56          0.98
11        11.0  10 Aug 10:27  10 Aug 2021  10:27:28          0.95
12        12.0  10 Aug 19:26  10 Aug 2021  19:26:33           1.2
13        13.0  10 Aug 20:27  10 Aug 2021  20:27:03          0.85
14        14.0  10 Aug 21:30  10 Aug 2021  21:30:23          0.77
15        15.0  11 Aug 08:47  11 Aug 2021  08:47:06          0.91
16        16.0  11 Aug 10:20  11 Aug 2021  10:20:04          0.47
17        17.0  11 Aug 12:13  11 Aug 2021  12:13:36          1.21
18        18.0  11 Aug 16:56  11 Aug 2021  16:56:21          1.15
19        19.0  12 Aug 10:59  12 Aug 2021  10:59:37          1.23
20        20.0  12 Aug 12:14  12 Aug 2021  12:14:31          0.98
21        21.0  16 Aug 10:05  16 Aug 2021  10:05:25          1.16
22        22.0  16 Aug 11:06  16 Aug 2021  11:06:03          1.07
23        23.0  16 Aug 15:15  16 Aug 2021  15:15:28          1.02
24        24.0  16 Aug 16:15  16 Aug 2021  16:15:54          1.08
25        25.0  16 Aug 17:19  16 Aug 2021  17:19:32           1.1
26        26.0  16 Aug 18:19  16 Aug 2021  18:19:53          1.11
27        27.0  16 Aug 19:20  16 Aug 2021  19:20:17          1.12
28        28.0  16 Aug 23:18  16 Aug 2021  23:18:09          1.14
29        29.0  17 Aug 00:18  17 Aug 2021  00:18:33          1.12
30        30.0  19 Aug 21:09  19 Aug 2021  21:09:25          1.11
31        31.0  19 Aug 22:09  19 Aug 2021  22:09:52          1.12
32        32.0  23 Aug 18:03  23 Aug 2021  18:03:46          1.13
33        33.0  28 Aug 10:21  28 Aug 2021  10:21:18          1.14
34        34.0  28 Aug 12:45  28 Aug 2021  12:45:39          1.12
35        35.0  28 Aug 15:26  28 Aug 2021  15:26:51          1.13
36        36.0  28 Aug 18:00  28 Aug 2021  18:00:08          1.14
37        37.0  28 Aug 19:18  28 Aug 2021  19:18:38          1.13
38         NaN  03 Sep 02:17  03 Sep 2021  02:17:33          1.02
39         NaN   03 09 10:54  03 Sep 2021  10:54:46          1.04
40         NaN  10 Sep 17:38  10 Sep 2021  17:38:26          1.16
41         NaN  10 Sep 23:24  10 Sep 2021  23:24:03          1.18
42         NaN  11 Sep 00:03  11 Sep 2021  00:03:49          1.16

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  after removing the cwd from sys.path.

    Unnamed: 0      DateTime         Date      Time Water Level(cm.)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24           389.81
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48            434.4
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04           554.91
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19           632.32
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19           580.47
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24           516.38
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51           458.82
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16           410.37
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40           371.12
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39           495.44
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01           340.22
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56           311.61
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28           286.08
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33           393.24
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03           355.48
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23           323.43
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06           359.29
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04           297.87
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36           403.89
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21           594.21
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02           524.78
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37           317.33
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31           268.54
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25           409.23
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03            371.5
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28           306.65
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54           401.22
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32           474.08
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53           522.11
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17           528.21
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09           417.24
31        31.0  17 Aug 00:18  17 Aug 2021  00:18:33           347.08
32        32.0  19 Aug 21:09  19 Aug 2021  21:09:25            438.6
33        33.0  19 Aug 22:09  19 Aug 2021  22:09:52           496.59
34        34.0  23 Aug 15:16  23 Aug 2021  15:16:38           573.23
35        35.0  23 Aug 18:03  23 Aug 2021  18:03:46           403.12
36        36.0  28 Aug 10:21  28 Aug 2021  10:21:18           333.73
37        37.0  28 Aug 11:35  28 Aug 2021  11:35:06           306.65
38        38.0  28 Aug 12:45  28 Aug 2021  12:45:39           285.32
39        39.0  28 Aug 15:26  28 Aug 2021  15:26:51           498.11
40        40.0  28 Aug 18:00  28 Aug 2021  18:00:08           541.94
41        41.0  28 Aug 19:18  28 Aug 2021  19:18:38           453.48
42         NaN  03 Sep 02:17  03 Sep 2021  02:17:33           363.11
43         NaN   03 09 10:54  03 Sep 2021  10:54:46           471.03
44         NaN  10 Sep 17:38  10 Sep 2021  17:38:26           513.33
45         NaN  10 Sep 23:24  10 Sep 2021  23:24:03           276.55
46         NaN  11 Sep 00:03  11 Sep 2021  00:03:49           253.28

    Unnamed: 0      DateTime         Date      Time Turbidity(NTU)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24         166.27
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48         172.08
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04         169.71
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19         166.11
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19          163.7
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24         166.13
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51         171.79
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16         173.65
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40         175.18
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39         164.75
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01         177.08
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56         173.38
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28         180.07
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33         167.66
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03         189.18
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23         192.97
16        16.0  11 Aug 08:56  11 Aug 2021  08:56:54         181.61
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04          215.9
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36         167.29
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21         158.27
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02         161.96
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37         171.98
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31          197.2
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25         168.44
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03         175.67
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28          172.1
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54         168.01
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32         162.84
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53         162.45
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17          170.6
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09         164.15
31        31.0  17 Aug 00:18  17 Aug 2021  00:18:33         165.15
32        32.0  19 Aug 21:09  19 Aug 2021  21:09:25         122.43
33        33.0  19 Aug 22:09  19 Aug 2021  22:09:52         106.61
34        34.0  23 Aug 15:16  23 Aug 2021  15:16:38         116.61
35        35.0  23 Aug 18:03  23 Aug 2021  18:03:46         108.27
36        36.0  28 Aug 10:21  28 Aug 2021  10:21:18          96.72
37        37.0  28 Aug 11:35  28 Aug 2021  11:35:06          98.77
38        38.0  28 Aug 12:45  28 Aug 2021  12:45:39         100.01
39        39.0  28 Aug 15:26  28 Aug 2021  15:26:51          97.81
40        40.0  28 Aug 18:00  28 Aug 2021  18:00:08          97.47
41        41.0  28 Aug 19:18  28 Aug 2021  19:18:38         100.08
42         NaN  03 Sep 02:17  03 Sep 2021  02:17:33         106.27
43         NaN   03 09 10:54  03 Sep 2021  10:54:46          97.31
44         NaN  10 Sep 17:38  10 Sep 2021  17:38:26         131.79
45         NaN  10 Sep 23:24  10 Sep 2021  23:24:03         190.68
46         NaN  11 Sep 00:03  11 Sep 2021  00:03:49         151.36

    Unnamed: 0      DateTime         Date      Time BOD(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24      7.56
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48      7.13
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04      6.97
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19      6.82
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19      6.75
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24      6.77
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51      6.93
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16      6.87
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40      6.76
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39      6.54
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01      6.36
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56      6.22
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28      6.54
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33      5.01
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03      5.23
15        15.0  11 Aug 08:47  11 Aug 2021  08:47:06      4.88
16        16.0  11 Aug 10:20  11 Aug 2021  10:20:04       5.5
17        17.0  11 Aug 12:13  11 Aug 2021  12:13:36       4.9
18        18.0  11 Aug 16:56  11 Aug 2021  16:56:21      4.48
19        19.0  11 Aug 18:00  11 Aug 2021  18:00:02      4.59
20        20.0  12 Aug 10:59  12 Aug 2021  10:59:37      4.72
21        21.0  12 Aug 12:14  12 Aug 2021  12:14:31       5.1
22        22.0  16 Aug 10:05  16 Aug 2021  10:05:25      5.02
23        23.0  16 Aug 11:06  16 Aug 2021  11:06:03      4.85
24        24.0  16 Aug 15:15  16 Aug 2021  15:15:28      4.92
25        25.0  16 Aug 16:15  16 Aug 2021  16:15:54      4.64
26        26.0  16 Aug 17:19  16 Aug 2021  17:19:32      4.56
27        27.0  16 Aug 18:19  16 Aug 2021  18:19:53      4.65
28        28.0  16 Aug 19:20  16 Aug 2021  19:20:17      4.93
29        29.0  16 Aug 23:18  16 Aug 2021  23:18:09      4.59
30        30.0  17 Aug 00:18  17 Aug 2021  00:18:33      4.36
31        31.0  19 Aug 21:09  19 Aug 2021  21:09:25      4.13
32        32.0  19 Aug 22:09  19 Aug 2021  22:09:52      3.98
33        33.0  23 Aug 15:16  23 Aug 2021  15:16:38      4.01
34        34.0  23 Aug 18:03  23 Aug 2021  18:03:46      3.97
35        35.0  28 Aug 10:21  28 Aug 2021  10:21:18      3.36
36        36.0  28 Aug 12:45  28 Aug 2021  12:45:39      3.39
37        37.0  28 Aug 15:26  28 Aug 2021  15:26:51       3.4
38        38.0  28 Aug 18:00  28 Aug 2021  18:00:08      3.39
39        39.0  28 Aug 19:18  28 Aug 2021  19:18:38      3.46
40         NaN  03 Sep 02:17  03 Sep 2021  02:17:33      3.82
41         NaN   03 09 10:54  03 Sep 2021  10:54:46      3.77
42         NaN  10 Sep 17:38  10 Sep 2021  17:38:26      4.29
43         NaN  10 Sep 23:24  10 Sep 2021  23:24:03      4.48
44         NaN  11 Sep 00:03  11 Sep 2021  00:03:49      4.28

    Unnamed: 0      DateTime         Date      Time DO(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24     1.73
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     2.99
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     3.52
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     2.77
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     3.65
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     3.54
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     3.57
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     3.23
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     3.28
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39     2.84
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     3.07
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     2.79
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28     2.44
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     6.11
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     6.02
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23     6.15
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06     6.27
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04      6.2
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     6.39
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     7.42
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02     7.48
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37     5.95
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31     5.44
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25     6.75
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03     5.64
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28     2.32
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54     4.65
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32     4.78
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53     4.38
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17     4.47
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09      6.6
31        31.0  17 Aug 00:18  17 Aug 2021  00:18:33     5.76
32        32.0  19 Aug 21:09  19 Aug 2021  21:09:25     8.61
33        33.0  19 Aug 22:09  19 Aug 2021  22:09:52     8.43
34        34.0  23 Aug 15:16  23 Aug 2021  15:16:38     7.01
35        35.0  23 Aug 18:03  23 Aug 2021  18:03:46     9.66
36        36.0  28 Aug 10:21  28 Aug 2021  10:21:18     4.81
37        37.0  28 Aug 11:35  28 Aug 2021  11:35:06     4.23
38        38.0  28 Aug 12:45  28 Aug 2021  12:45:39     4.42
39        39.0  28 Aug 15:26  28 Aug 2021  15:26:51     4.45
40        40.0  28 Aug 18:00  28 Aug 2021  18:00:08     3.81
41        41.0  28 Aug 19:18  28 Aug 2021  19:18:38     7.24
42         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     4.54
43         NaN   03 09 10:54  03 Sep 2021  10:54:46    16.46
44         NaN  10 Sep 17:38  10 Sep 2021  17:38:26     6.84
45         NaN  10 Sep 23:24  10 Sep 2021  23:24:03     4.81
46         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     4.06

    Unnamed: 0      DateTime         Date      Time COD(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24      21.1
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48     21.11
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04     20.72
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19     20.23
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19     19.94
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24     20.17
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51     20.84
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16     20.92
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40     20.91
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39     19.78
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01      20.6
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     20.12
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28     21.07
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33     18.27
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03     20.35
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23     20.67
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06      19.3
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     22.92
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36     18.13
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21     16.87
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02     17.31
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37      18.3
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31     20.85
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25     18.39
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03     18.81
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28      18.6
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54     17.91
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32     17.38
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53     17.45
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17     18.47
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09     17.52
31        31.0  17 Aug 00:18  17 Aug 2021  00:18:33     17.33
32        32.0  19 Aug 21:09  19 Aug 2021  21:09:25     17.09
33        33.0  19 Aug 22:09  19 Aug 2021  22:09:52     16.31
34        34.0  23 Aug 15:16  23 Aug 2021  15:16:38     16.72
35        35.0  23 Aug 18:03  23 Aug 2021  18:03:46     16.37
36        36.0  28 Aug 10:21  28 Aug 2021  10:21:18     15.23
37        37.0  28 Aug 11:35  28 Aug 2021  11:35:06      15.3
38        38.0  28 Aug 12:45  28 Aug 2021  12:45:39     15.38
39        39.0  28 Aug 15:26  28 Aug 2021  15:26:51     15.32
40        40.0  28 Aug 18:00  28 Aug 2021  18:00:08      15.3
41        41.0  28 Aug 19:18  28 Aug 2021  19:18:38     15.48
42         NaN  03 Sep 02:17  03 Sep 2021  02:17:33     16.37
43         NaN   03 09 10:54  03 Sep 2021  10:54:46     16.02
44         NaN  10 Sep 17:38  10 Sep 2021  17:38:26     17.83
45         NaN  10 Sep 23:24  10 Sep 2021  23:24:03     20.06
46         NaN  11 Sep 00:03  11 Sep 2021  00:03:49     18.49

    Unnamed: 0      DateTime         Date      Time Temperature(°C)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24            30.5
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48              31
2          2.0  09 Aug 13:57  09 Aug 2021  13:57:19            31.1
3          3.0  09 Aug 15:16  09 Aug 2021  15:16:19            31.2
4          4.0  09 Aug 16:29  09 Aug 2021  16:29:24            31.1
5          5.0  09 Aug 17:29  09 Aug 2021  17:29:51            31.2
6          6.0  09 Aug 19:30  09 Aug 2021  19:30:40            31.1
7          7.0  10 Aug 08:24  10 Aug 2021  08:24:01              31
8          8.0  10 Aug 09:26  10 Aug 2021  09:26:56            31.1
9          9.0  10 Aug 10:27  10 Aug 2021  10:27:28            31.4
10        10.0  10 Aug 19:26  10 Aug 2021  19:26:33            31.3
11        11.0  11 Aug 08:47  11 Aug 2021  08:47:06            31.2
12        12.0  11 Aug 10:20  11 Aug 2021  10:20:04            31.4
13        13.0  11 Aug 12:13  11 Aug 2021  12:13:36            32.5
14        14.0  11 Aug 16:56  11 Aug 2021  16:56:21            31.6
15        15.0  12 Aug 10:59  12 Aug 2021  10:59:37            31.4
16        16.0  12 Aug 12:14  12 Aug 2021  12:14:31            31.9
17        17.0  16 Aug 10:05  16 Aug 2021  10:05:25            31.7
18        18.0  16 Aug 15:15  16 Aug 2021  15:15:28            32.6
19        19.0  16 Aug 16:15  16 Aug 2021  16:15:54            31.8
20        20.0  16 Aug 23:18  16 Aug 2021  23:18:09            31.7
21        21.0  17 Aug 00:18  17 Aug 2021  00:18:33            31.6
22        22.0  19 Aug 21:09  19 Aug 2021  21:09:25            31.1
23        23.0  23 Aug 15:16  23 Aug 2021  15:16:38            31.2
24        24.0  28 Aug 10:21  28 Aug 2021  10:21:18            31.3
25        25.0  28 Aug 11:35  28 Aug 2021  11:35:06            31.4
26        26.0  28 Aug 12:45  28 Aug 2021  12:45:39            32.7
27        27.0  28 Aug 15:26  28 Aug 2021  15:26:51            31.5
28         NaN  03 Sep 02:17  03 Sep 2021  02:17:33            31.1
29         NaN   03 09 10:54  03 Sep 2021  10:54:46            31.3
30         NaN  10 Sep 17:38  10 Sep 2021  17:38:26            31.6
31         NaN  10 Sep 23:24  10 Sep 2021  23:24:03            30.2
32         NaN  11 Sep 00:03  11 Sep 2021  00:03:49            29.4

    Unnamed: 0      DateTime         Date      Time TSS(mg/l)
0          0.0  04 Aug 14:26  04 Aug 2021  14:26:24    143.29
1          1.0  09 Aug 11:41  09 Aug 2021  11:41:48    146.15
2          2.0  09 Aug 12:57  09 Aug 2021  12:57:04    144.89
3          3.0  09 Aug 13:57  09 Aug 2021  13:57:19    143.04
4          4.0  09 Aug 15:16  09 Aug 2021  15:16:19    141.79
5          5.0  09 Aug 16:29  09 Aug 2021  16:29:24    143.02
6          6.0  09 Aug 17:29  09 Aug 2021  17:29:51    145.92
7          7.0  09 Aug 18:30  09 Aug 2021  18:30:16    146.85
8          8.0  09 Aug 19:30  09 Aug 2021  19:30:40    147.58
9          9.0  10 Aug 00:49  10 Aug 2021  00:49:39    142.27
10        10.0  10 Aug 08:24  10 Aug 2021  08:24:01     148.4
11        11.0  10 Aug 09:26  10 Aug 2021  09:26:56     146.5
12        12.0  10 Aug 10:27  10 Aug 2021  10:27:28    149.96
13        13.0  10 Aug 19:26  10 Aug 2021  19:26:33    143.64
14        14.0  10 Aug 20:27  10 Aug 2021  20:27:03    154.56
15        15.0  10 Aug 21:30  10 Aug 2021  21:30:23    156.47
16        16.0  11 Aug 08:47  11 Aug 2021  08:47:06    150.63
17        17.0  11 Aug 10:20  11 Aug 2021  10:20:04     168.1
18        18.0  11 Aug 12:13  11 Aug 2021  12:13:36    143.46
19        19.0  11 Aug 16:56  11 Aug 2021  16:56:21    138.78
20        20.0  11 Aug 18:00  11 Aug 2021  18:00:02    140.66
21        21.0  12 Aug 10:59  12 Aug 2021  10:59:37    145.72
22        22.0  12 Aug 12:14  12 Aug 2021  12:14:31    158.46
23        23.0  16 Aug 10:05  16 Aug 2021  10:05:25    144.17
24        24.0  16 Aug 11:06  16 Aug 2021  11:06:03    147.73
25        25.0  16 Aug 15:15  16 Aug 2021  15:15:28    146.01
26        26.0  16 Aug 16:15  16 Aug 2021  16:15:54    143.84
27        27.0  16 Aug 17:19  16 Aug 2021  17:19:32    141.22
28        28.0  16 Aug 18:19  16 Aug 2021  18:19:53    141.04
29        29.0  16 Aug 19:20  16 Aug 2021  19:20:17    145.23
30        30.0  16 Aug 23:18  16 Aug 2021  23:18:09    141.86
31        31.0  17 Aug 00:18  17 Aug 2021  00:18:33    142.28
32        32.0  19 Aug 21:09  19 Aug 2021  21:09:25    138.47
33        33.0  19 Aug 22:09  19 Aug 2021  22:09:52    134.06
34        34.0  23 Aug 15:16  23 Aug 2021  15:16:38    136.81
35        35.0  23 Aug 18:03  23 Aug 2021  18:03:46    134.54
36        36.0  28 Aug 10:21  28 Aug 2021  10:21:18    131.15
37        37.0  28 Aug 11:35  28 Aug 2021  11:35:06    131.69
38        38.0  28 Aug 12:45  28 Aug 2021  12:45:39    132.07
39        39.0  28 Aug 15:26  28 Aug 2021  15:26:51     131.5
40        40.0  28 Aug 18:00  28 Aug 2021  18:00:08    131.38
41        41.0  28 Aug 19:18  28 Aug 2021  19:18:38    132.14
42         NaN  03 Sep 02:17  03 Sep 2021  02:17:33    138.74
43         NaN   03 09 10:54  03 Sep 2021  10:54:46    136.78
44         NaN  10 Sep 17:38  10 Sep 2021  17:38:26    144.57
45         NaN  10 Sep 23:24  10 Sep 2021  23:24:03    157.53
46         NaN  11 Sep 00:03  11 Sep 2021  00:03:49    148.85

process done.....
next process starts.....